#naslov-div {
	display: flex;
	padding-top: 0.5vh;
	font-size: 20px;
	margin: 0 auto;
	width: 37%;
	font-family: 'Roboto', sans-serif;
	justify-content: space-between;
}
hr {
	opacity: 0.2;
}
#wraper{
	display: flex;
	min-height: 90.5vh;
	flex-direction: column;
	justify-content: space-between;
}
#main_part{
	padding-top: 1vh;
	margin: 0 auto;
	width: 36%;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
}
desno {
	background-color: red;
}
lijevo{
}
#footer{
	/*max-width: 37%;
	display: flex;
	justify-content: flex-start;
	margin-left: 20%;
	font-family: 'Roboto', sans-serif;*/
	
	display: flex;
	font-size: 16px;
	margin: 0 auto;
	width: 37%;
	font-family: 'Roboto', sans-serif;
	justify-content: space-between;
}
#githuby{
	display: flex;
}
#youtubey{
	display: flex;
}
#malo_desno{
	margin-left: 5px;
	margin-right: 100px;
	text-decoration: none;
	color: CornflowerBlue;
}
#malo_desnije{
	margin-left: 5px;
	margin-right: 250px;
	text-decoration: none;
	color: CornflowerBlue;
}
#qut{
	font-size: 15px;
	color: grey;
}
a:hover {
  text-decoration: underline;
}
#desno:hover{
	text-decoration: underline;
}
#lijevo:hover{
	text-decoration: underline;
}
.plavo{
	color: CornflowerBlue;
	font-size: 19px;
}
.datum{
	font-size: 13px;
	color: grey;
}
